.mapboxgl-ctrl-attrib {
    font-size: 10px !important;
    line-height: 1.2 !important;
    position: relative !important;
    bottom: 30px !important;
    left: 5px !important;
}

.mapboxgl-ctrl-logo {
    width: 50px !important;
    height: 20px !important;
}

.mapboxgl-map {
    
}